---
import HeroContent from "./heroContent.astro";
import HeroPhone from "./heroPhone.astro";
---

<section class="relative overflow-hidden pt-28 pb-20 lg:pt-40 lg:pb-32">

    <div class="mx-auto grid max-w-7xl items-center px-6 gap-(--spacing-grid-gap-mobile) lg:grid-cols-2 lg:gap-(--spacing-grid-gap-desktop) lg:px-12">

        <div class="flex justify-center lg:justify-start">
            <HeroContent />
        </div>

        <div class="flex justify-center">
            <HeroPhone />
        </div>

    </div>

</section>