<div class="flex flex-wrap items-center justify-center gap-4 lg:justify-start">

    <a
            href="#"
            class="inline-block transition duration-300 hover:scale-[1.02] active:scale-95"
    >
        <img
                src="icons/google-play.svg"
                alt="Google Play"
                class="h-12 w-[160px] object-contain md:h-14 md:w-auto"
        />
    </a>

    <a
            href="#"
            class="inline-block transition duration-300 hover:scale-[1.02] active:scale-95"
    >
        <img
                src="icons/apple-store.svg"
                alt="App Store"
                class="h-12 w-[160px] object-contain md:h-14 md:w-auto"
        />
    </a>

</div>