---
import Layout from "../layouts/layout.astro";
import Hero from "../components/hero/hero.astro";
import Problem from "../components/problem/problem.astro";
import PhoneSolution from "../components/phone-solution/phoneSolution.astro";
import WebSolution from "../components/web-solution/webSolution.astro";
import Footer from "../components/footer.astro";
import Cta from "../components/cta.astro";

const pageTitle = "Vera - Tu asistente inteligente contra estafas";
---

<Layout title={pageTitle}>
	<main>
		<Hero />
		<Problem />
		<PhoneSolution />
		<WebSolution />
		<Cta />
	</main>
	<Footer />
</Layout>