---
import Layout from "../layouts/layout.astro";
import Navbar from "../components/navbar/navbar.astro";
import Hero from "../components/hero/hero.astro";
import Danger from "../components/danger/danger.astro";
import PhoneSolution from "../components/phone-solution/phoneSolution.astro";
import WebSolution from "../components/web-solution/webSolution.astro";
import Footer from "../components/footer.astro";
import Cta from "../components/cta.astro";

const pageTitle = "Vera - Tu asistente inteligente contra estafas";
---

<Layout title={pageTitle}>
	<Navbar />
	<main>
		<Hero />
		<Danger />
		<PhoneSolution />
		<WebSolution />
		<Cta />
	</main>
	<Footer />
</Layout>