---
import Layout from "../layouts/layout.astro";
import Navbar from "../components/navbar/navbar.astro";
import Hero from "../components/hero/hero.astro";
import Risks from "../components/risks/risks.astro";
import Mobile from "../components/mobile/mobile.astro";
import Web from "../components/web/web.astro";
import Footer from "../components/footer.astro";
import Cta from "../components/cta.astro";

const pageTitle = "Vera - Tu asistente inteligente contra estafas";
---

<Layout title={pageTitle}>
	<Navbar />
	<main>
		<Hero />
		<Risks />
		<Mobile />
		<Web />
		<Cta />
	</main>
	<Footer />
</Layout>