---
import ComparativeCard from "./comparativeCard.astro";

const { antivirus, vera } = Astro.props;
---

<div class="mt-20 grid gap-8 lg:grid-cols-2">

    <ComparativeCard
            title="Antivirus"
            description="Protección enfocada en amenazas del sistema y software."
            items={antivirus}
            icon="/icons/antivirus.svg"
    />

    <ComparativeCard
            title="vera"
            description="Una capa adicional enfocada en decisiones y comportamiento humano."
            items={vera}
            icon="/logo.png"
    />

</div>