---
---

<nav class="hidden items-center gap-8 md:flex">

    <a
            href="#"
            class="text-sm font-medium text-text/60 transition-all duration-(--transition-base) hover:text-text"
    >
        Inicio
    </a>

    <a
            href="#features"
            class="text-sm font-medium text-text/60 transition-all duration-(--transition-base) hover:text-text"
    >
        Funciones
    </a>

    <a
            href="#comparative"
            class="text-sm font-medium text-text/60 transition-all duration-(--transition-base) hover:text-text"
    >
        Comparativa
    </a>

    <a
            href="#newsletter"
            class="text-sm font-medium text-text/60 transition-all duration-(--transition-base) hover:text-text"
    >
        Novedades
    </a>

</nav>