<nav class="hidden items-center gap-8 md:flex">

    <a href="#" class="text-(--color-text)/60 transition hover:text-(--color-text)">
        Inicio
    </a>

    <a href="#features" class="text-(--color-text)/60 transition hover:text-(--color-text)">
        Funciones
    </a>

    <a href="#newsletter" class="text-(--color-text)/60 transition hover:text-(--color-text)">
        Novedades
    </a>

    <a href="#comparative" class="text-(--color-text)/60 transition hover:text-(--color-text)">
        Comparación
    </a>

</nav>