---
import MobileNavItem from "./mobileNavItem.astro";

const items = [
    {
        href: "#",
        title: "Inicio",
        description: "Obtener Vera ahora",
        icon: "get_app",
    },
    {
        href: "#newsletter",
        title: "Novedades",
        description: "Únete a la lista",
        icon: "mark_email_read",
    },
    {
        href: "#features",
        title: "Funciones",
        description: "Explora la App",
        icon: "auto_awesome",
    },
    {
        href: "#comparative",
        title: "Comparativa",
        description: "Vera vs Otros",
        icon: "balance",
    },
];
---

<div
        id="mobile-menu"
        class="hidden border-t border-(--glass-border) bg-bg/95 px-6 py-8 backdrop-blur-2xl md:hidden"
>
    <div class="grid grid-cols-2 gap-4">
        {
            items.map((item) => (
                    <MobileNavItem {...item} />
            ))
        }
    </div>
</div>