---
import FeatureCard from "./featureCard.astro";

interface Props {
    steps: {
        number: string;
        title: string;
        description: string;
    }[];
}

const { steps } = Astro.props;
---

<div class="relative mt-20 grid gap-(--spacing-grid-gap-mobile) md:grid-cols-2 lg:gap-(--spacing-grid-gap-desktop) xl:grid-cols-4">

    {steps.map((step) => (
            <FeatureCard step={step} />
    ))}

</div>