---
import Cards from "./cards.astro";
---

<section id="risks" class="relative py-24 lg:py-32 overflow-hidden">

    <div class="relative z-10 max-w-7xl mx-auto px-6 lg:px-12">

        <header class="max-w-3xl mx-auto text-center mb-16 md:mb-24">
            <h2 class="text-3xl md:text-5xl font-display font-extrabold tracking-tight text-white mb-6">
                <span class="bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent">
                    El Peligro
                </span>
                no es el virus, es
                <span class="bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent">
                    El Engaño
                </span>
            </h2>

            <p class="text-lg md:text-xl text-white/70 font-medium text-pretty leading-relaxed">
                Hoy las estafas usan el miedo y la urgencia para que decidas sin pensar. No buscan fallar tu equipo, buscan confundirte a vos.
            </p>
        </header>

        <Cards />

    </div>
</section>