---
import Cards from "./cards.astro";
---

<section id="risks" class="relative py-24 lg:py-32 overflow-hidden">

    <div class="relative z-10 max-w-7xl mx-auto px-6 lg:px-12">

        <header class="max-w-3xl mx-auto text-center mb-16 md:mb-24">
            <h2 class="text-3xl md:text-5xl font-display font-extrabold tracking-tight text-white mb-6">
                Cómo operan
                <span class="bg-linear-to-r from-primary to-secondary bg-clip-text text-transparent">
                    Los Engaños
                </span>
                hoy
            </h2>

            <p class="text-lg md:text-xl text-white/70 font-medium text-pretty leading-relaxed">
                Internet y los teléfonos han cambiado nuestra forma de comunicarnos, pero también han traído nuevos retos para nuestra seguridad.
            </p>
        </header>

        <Cards />

    </div>
</section>